.Menu {
  position: absolute;
  background-color: white;
  top: 0;
  left: -150vw;
  height: 100vh;
  width: 82%;
  box-shadow: 10px 0 180px #999999;
  transition-property: left;
  transition-duration: .5s;
}

.Header .closed {
  left: -150vw;
}

.Header .open {
  left: 0;
}

.Menu .menu-header {
  box-shadow: 0 3px 2px #d9d9d9;
  padding: 16.5px 20px;
}

.Menu h2 {  
  color: black;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.Menu .menu-item:hover {
  background: #d9d9d9;
}

.Menu .menu-item {
  display: flex;
  padding: 25px 0 0 30px;
  color: black;
}

.Menu .menu-item .fa {
  color: #999999;
  font-size: 28px;
  margin-right: 40px;
}

.Menu .menu-item .menu-item-label {
  font-size: 18px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid #999999;
  width: 100%;
}