.Profile {
  padding: 30px;
}

.Profile .profile-form-item {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

.Profile label {
  color: #cccccc;
  font-style: italic;
}

.Profile .label-text {
  min-width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.Profile img {
  max-width: 100px;
  vertical-align: middle;
}

.Profile input {
  border: none;
}

.Profile .submit-btn {
  width: 100%;
  background-color: #1c47e8;
  color: white;
  padding: 5px;
  border-radius: 8px;
  margin-top: 15px;
}