.Article {
  position: relative;
}

.Article img {
  display: block;
  width: 100%;
  height: 91vh;
  object-fit: cover;
  object-position: center center;
}

.Article .article-data-container {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(235,235,235, 0.7);
  padding: 0 40px 15px 40px;
  border-radius: 7px;
}

.Article h2 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: black;
}

.Article .fa-quote-left {
  margin: 0 15px;
  color: grey;
}

.Article .article-text-box {
  background-color: #e0e0e0;
  opacity: 1;
  padding:5px 20px 5px 30px;
  border-left: 10px solid rgb(144, 144, 144);
  font-size: 20px;
  color: black;
}

.Article .article-date {
  font-weight: 100;
  font-size: 16px;
  color:rgb(144, 144, 144);
  display: block;
  text-align: right;
}

.Article .article-author {
  font-size: 22px;
  font-style: italic;
  display: block;
  text-align: right;
  margin-top: 5px;
  color: black;
}

@media (min-width: 600px) {
  .article-data-container {
    width: 800px;
    margin: 0 auto;
  }
}